<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head %>
</head>
<header>
  <% include ../partials/header %>
</header>

<body class="fix-header">
  <main>
    <div id="page-wrapper">
      <div class="container-fluid">
        <div class="row bg-title">
          <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
            <h4 class="page-title">Chủ đề: <%= data.tencd%></h4>
          </div>
          <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
            <ol class="breadcrumb">
              <li><a href="../../admin/trangchu">Trang Chủ</a></li>
              <li><a href="../../admin/taobodethi">Chủ Đề Thi</a></li>
              <li class="active">
                <%= data.tencd%>
              </li>
            </ol>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="white-box">
              <form class="form-horizontal form-material" onSubmit="return count()" action="/admin/taobodethicauhoi" method="post" enctype="application/x-www-form-urlencoded">
                <div class="row">
                  <div class="col-lg-12">
                    <div class="table-responsive">
                      <table class="search table table-hover" id="table">
                        <thead>
                          <tr>
                            <th>STT</th>
                            <th> Câu Hỏi</th>
                            <th class="text-right">
                              <div class="text-center">
                                <input type="checkbox" name="checkall" id="checkAll" hidden>
                                <label for="checkAll" id="check1">Chọn tất cả </label>
                              </div>
                            </th>
                          </tr>
                        </thead>
                        <tbody id="myTable">
                          <!-- <tr>
                            <td>1</td>
                            <td data-toggle="modal" data-target="#exampleModal">Anh/Chị được giảng viên giải thích rõ ràng và đầy đủ về mục tiêu học phần, nội dung học phần, phương pháp giảng dạy và học tập học phần, và cách thức đánh giá học phần.</td>
                            <td>
                              <div class="checkbox checkbox-info">
                                <input type="checkbox" id="checkItem1" name="id" value="1">
                                <label for="checkItem1"> </label>
                              </div>
                            </td>
                          </tr> -->

                        </tbody>
                      </table>
                      <div class="col-md-12 center text-center">
                        <ul class="pagination" id="myPager">
                        </ul>
                      </div>
                    </div>
                  </div>
                  <input hidden name="idcd" value="<%= data.idcd%>">
                </div>
                <div class="row">
                  <div class="col-lg-12 ml-auto">
                    <button class=" btn btn-danger" style="float: right">Xóa</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- /.container-fluid -->

    </div>

    <div class="modal fade bd-example-modal-lg" id="modal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                      </button>
            <h4 class="modal-title" id="exampleModalLabel">Câu Hỏi:</h4>
          </div>
          <form class="form-horizontal form-material">
            <div class="modal-body">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-lg-12 ml-auto">
                    <div class="form-group">
                      <p id="cauhoi">

                      </p>
                    </div>
                  </div>
                </div>
                <br>
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="col-md-12" id="daa">A</label>
                      <div class="col-md-12" id="nda">
                        <input type="text" placeholder="123 456 7890" class="form-control form-control-line" readonly> </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="col-md-12" id="dab">B</label>
                      <div class="col-md-12" id="ndb">
                        <input type="text" placeholder="123 456 7890" class="form-control form-control-line" readonly> </div>
                    </div>
                  </div>
                </div>
                <br>
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="col-md-12" id="dac">C</label>
                      <div class="col-md-12" id="ndc">
                        <input type="text" placeholder="123 456 7890" class="form-control form-control-line" readonly> </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="col-md-12" id="dad">D</label>
                      <div class="col-md-12" id="ndd">
                        <input type="text" placeholder="123 456 7890" class="form-control form-control-line" readonly> </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" id="xoa" class="btn btn-secondary text-right" data-dismiss="modal">Thoát</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="count-checkboxes-wrapper">
      <span id="count-checked-checkboxes">0</span> checked
    </div>


  </main>

  <script>
    // get data in modal

    // get data in modal
    $(document).ready(function() {
      var json_data = decodeURIComponent('<%= data.json_data_modal%>');
      $('#modal1').on('show.bs.modal', function(e) {
        var personName = $(e.relatedTarget).data('modal-name');
        $.post(json_data, {
            idch: personName
          },
          function(data, status) {
            $('#modal1 .modal-content .modal-body .row #cauhoi').html('<textarea class="form-control" id="textarea" rows="8">' + data.ndch + '</textarea>');
            $('#modal1 .modal-content .modal-body .row #nda').html('<input type="text" id="A" placeholder="' + data.nda + '" class="form-control form-control-line"> </div>');
            $('#modal1 .modal-content .modal-body .row #ndb').html('<input type="text" id="B" placeholder="' + data.ndb + '" class="form-control form-control-line" > </div>');
            $('#modal1 .modal-content .modal-body .row #ndc').html('<input type="text" id="C" placeholder="' + data.ndc + '" class="form-control form-control-line" > </div>');
            $('#modal1 .modal-content .modal-body .row #ndd').html('<input type="text" id="D" placeholder="' + data.ndd + '" class="form-control form-control-line" > </div>');
            if (data.da == '1') {
              $('#modal1 .modal-content .modal-body .row #daa').html('A&nbsp;&nbsp;<i class="fa  fa-check fa-fw" aria-hidden="true"></i>');
              $('#modal1 .modal-content .modal-body .row #dab').html('B');
              $('#modal1 .modal-content .modal-body .row #dac').html('C');
              $('#modal1 .modal-content .modal-body .row #dad').html('D');
            } else if (data.da == '2') {
              $('#modal1 .modal-content .modal-body .row #dab').html('B&nbsp;&nbsp;<i class="fa  fa-check fa-fw" aria-hidden="true"></i>');
              $('#modal1 .modal-content .modal-body .row #daa').html('A');
              $('#modal1 .modal-content .modal-body .row #dac').html('C');
              $('#modal1 .modal-content .modal-body .row #dad').html('D');
            } else if (data.da == '3') {
              $('#modal1 .modal-content .modal-body .row #dac').html('C&nbsp;&nbsp;<i class="fa  fa-check fa-fw" aria-hidden="true"></i>');
              $('#modal1 .modal-content .modal-body .row #dab').html('B');
              $('#modal1 .modal-content .modal-body .row #daa').html('A');
              $('#modal1 .modal-content .modal-body .row #dad').html('D');
            } else if (data.da == '4') {
              $('#modal1 .modal-content .modal-body .row #dad').html('D&nbsp;&nbsp;<i class="fa  fa-check fa-fw" aria-hidden="true"></i>');
              $('#modal1 .modal-content .modal-body .row #dab').html('B');
              $('#modal1 .modal-content .modal-body .row #dac').html('C');
              $('#modal1 .modal-content .modal-body .row #daa').html('A');
            }
          });
      });
    });
  </script>

  <script>
    $(document).ready(function() {
      // get data json
      var json_data = decodeURIComponent('<%= data.json_data%>');
      $.getJSON(json_data, function(data) {
        var test_data = '';
        var len = data.length;
        var count = 1;
        $.each(data, function(key, value) {
          test_data += '<tr>';
          test_data += '<td>' + count++ + '</td>';
          test_data += '<td data-toggle="modal" data-modal-name="' + value.idch + '" data-target="#modal1">' + value.ndch + '</td>';
          test_data += '<td class="text-right"><div class="checkbox checkbox-info text-center"><input type="checkbox" id="checkItem' + count + '" name="idch" value="' + value.idch + '"><label for="checkItem' + count +
            '"> </label></div></td>';
          test_data += '</tr>';
        });
        $('#table').append(test_data);


        // pagination
        $('#myTable').pagination({
          pagerSelector: '#myPager',
          activeColor: 'red',
          prevText: 'Prev',
          nextText: 'Next',
          showPrevNext: true,
          hidePageNumbers: false,
          perPage: 15
        });


      });
    });
  </script>
  <SCRIPT LANGUAGE="JavaScript">
    function count() {
      var count = $('.checkbox input:checkbox:checked').length ;
      return confirm("Bạn có chắc xóa "+count+" câu hỏi này ?")
    }
  </SCRIPT>
  <footer>
    <% include ../partials/footer %>
  </footer>

  <script>
    $("#checkAll").click(function() {
      $('input:checkbox').not(this).prop('checked', this.checked);
    });
  </script>
</body>

</html>
